@import "fonts";
@import "mixin";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  max-width: 1500px;
  margin: 0 auto;
}
.link__home {
  position: fixed;
  bottom: 1%;
  right: 19%;
  width: 30px;
  a {
    text-decoration: none;
  }
  .button {
    @include button;
    width: 70px;
    height: 40px;
  }
}

//  block Home 

.section__home {
  height: 100vh;
  max-height: 1000px;
  background-image: url(../img/milk.png);
  background-repeat: no-repeat;
  background-size: auto;
 }
 .row {
  margin: 0;
}
.header__home {
  
  &-logo {
    padding-top: 20px;
    display: block;
    font-size: 50px;
    font-family: 'Pacifico Regular';
    width: 44%;
  }
  &-item {
    margin-left:  17px;
    display: inline-block;
    text-transform: uppercase;
    margin-block-start: 1em;
    color: #262626;
  }
  &-item:hover {
    padding: 5px 0;
    border-top: 2px solid #ff6033;
    margin-block-start: 0;
    color: blue;
  }
  &-menu {
    list-style-type: none;
    font-family: 'Raleway Bold';
    font-size: 16px;
    padding-top: 40px;
  }
  .header__menu {
    width: 38%;
  }
}
.section__home-block {
  transform: translateY(100%);
  width: 370px;
  margin-left: 165px;
    &-title {
      font-family: 'Raleway ExtraBold';
      font-size: 60px;
      margin-bottom: 25px;
      color: #262626;
    }
    &-pharagraph {
      font-family: 'Raleway Light';
      font-size: 17px;
      color: #262626;
    }
    &-button {
      @include button;
      background-color: #ff6033;
      margin-top: 25px;
    .link__button {
      text-decoration-line: none;
      color: #fff;
    }
  }
  &-button:active {
    position:relative;
    top: 1px;
  }
}
  .section__home-icon {
    position: absolute;
    bottom: 30%;
    left: 50%;
  }

// block About us

.section__about {
  height: 100vh;
  max-height: 700px;
  background-image: url(../img/strawberry.png);
  background-repeat: no-repeat;
  background-size: auto;
  .block {
    width: 500px;
    &__title {
      font-family: 'Raleway Bold';
      font-size: 90px;
      color: #fff;
    }
    &__pharagraph {
      font-family: 'Raleway Light';
      font-size: 17px;
      color: #fff;
    }
  }
  .section__block-about {
    position: relative;
    top: 23%;
    left: 56%;       
  }
  
}

//  block Gallery 

.header {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  .title {
    font-size: 90px;
    font-family: 'Raleway Bold';
    color: #262626;
  }
  .header__title {
    padding: 80px 0 50px 0;
  }
  .text {
    font-family: 'Raleway Light';
    font-size: 17px;
    color: #262626;
  }
  .header__text {
    margin-bottom: 50px;
  }
}

.section__gallery {
  background-color: #ffe92f;
  .section__images {
    width: 90%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
      .section__column {
        width: 30%;
      }
        .column__img {
          max-width: 370px;
          margin: 0 0 30px 15px;
          width: 100%;
          height: 45%;
        }
  }
  .section__footer {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
      .footer__images {
        max-width: 570px;
        width: 50%;
        margin: 0 15px;;
      }
  }
  .section__images-peach {
    max-width: 770px;
    margin-right: 15px;
    width: 100%;
    margin-bottom: 30px;
  }
  
  .section__button-gallery {
    @include button;
    background-color: #5585a2;
    margin: 50px 0 120px 0;
    justify-content: center;
  }
  .section__button-gallery:active {
    position:relative;
    top: 1px;
  }
}
